<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDww-DjgLFKBuvd8mZYVndtD6qZ1DI9dZg</string>
	<key>GCM_SENDER_ID</key>
	<string>408276834554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mhs.co.ltd.boiporo</string>
	<key>PROJECT_ID</key>
	<string>boi-pori-5</string>
	<key>STORAGE_BUCKET</key>
	<string>boi-pori-5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408276834554:ios:84a0b1244b6198250f1143</string>
</dict>
</plist>